<!DOCTYPE html>
<html lang="en">
<head>
    <link href="./startbootstrap-sb-admin-gh-pages/css/styles.css" rel="stylesheet"/>
    <script src="./startbootstrap-sb-admin-gh-pages/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">食品名：乐事薯片 </h5>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">食品ID: 5</th>
                            <th scope="col">周转号: 2</th>
                            <th scope="col">批次号: 2</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>用户ID：1</td>
                            <td>用户名： pecky</td>
                            <td>所属企业： 超级管理员</td>
                        </tr>
                        <tr>
                            <td>设备ID: 4</td>
                            <td colspan="2">设备名： 中粮 测试设备1</td>
                        </tr>
                        <tr>
                            <td>目的企业ID: 4</td>
                            <td colspan="2">目的企业名： 百事（中国）食品有限公司</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="card-text">质检结果：无</p>
                    <p class="card-text">记录时间：2023-04-18 11:11:52</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="./bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../static/plugins/jedate-6/src/jedate.js"></script>
<script type="text/javascript">
</script>
</html>
